<% include ../header.html %>
<body class="admin_backgroud_color">
	<div class="container">
		<form class="admin_login_form" role="form" method="post" action="/admin/login" >
			<h3><p class="text-center">Please sign in</p></h3>
			<input name="name" type="tel"      class="form-control" placeholder="Email address"> 
			<input name="pass" type="password" class="form-control" placeholder="Password"">
			<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
			<% if (message.length) { %><div class="alert alert-danger"><%= message %></div> <%}%>
		</form>
	</div>
</body>
<% include ../footer.html %>