<% include ../header.html %>
<body class="admin_backgroud_color" onload="admin_onload(this)">
	<div class="admin_main_panel">
		<ul class="nav nav-tabs nav-tabs" id="main_menu">
		</ul>
		<div class="panel panel-default">
		  <!-- Default panel contents -->
		  <div class="panel-heading" id="panel-header">Panel heading</div>
		  <!-- Table -->
		  <table class="table">
		    <tr>
		                  <td>3</td>
		                  <td>Larry</td>
		                  <td>the Bird</td>
		                  <td>@twitter</td>
		                </tr>
		  </table>
		</div>
	</div>
	<!-- Popup Window -->
	<script src="/js/controller/admin_main_controller.js"></script>
	<script src="/js/controller/messages.js"></script>
</body>
<% include ../footer.html %>