.admin_login_form {
	max-width: 330px;
	padding: 15px;
	margin: 0px auto;	
}

.admin_backgroud_color {
	background-color:#eee;
}

.admin_main_panel {
	position: relative;
    padding: 5px 5px 5px;
    margin: 0 5px 5px;
    border-width: 1px;
    border-color: #ddd;
    border-radius: 4px 4px 4px 4px;
    box-shadow: none;
}