<div class="panel-group" id="accordion">
  <div class="panel panel-default" id="admin_main_product_panel">
    <div class="panel-heading admin_main_product_panel-heading">
      <h4 class="panel-title">
        <div class="collapsed">Products List :
          <p class="btn btn-link btn-lg admin_main_align_right admin_main_product_btn" id="admin_main_product_new">New</p>
          <p class="btn btn-link btn-lg admin_main_align_right admin_main_product_btn disabled" id="admin_main_product_delete">Delete</p>
        </div>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
        <table class="table table-hover" id="admin_main_product_list">
          <thead>
              <tr>
                <th class="admin_main_product_list admin_main_product_list_col0">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" id="admin_main_product_list_checkbox">
                    </label>
                  </div>
                </th>
                <th class="admin_main_product_list admin_main_product_list_col1">
                  <div class="btn-group" id="admin_main_product_list_years">
                    <button type="button" class="btn btn-default dropdown-toggle admin_main_product_combobox" data-toggle="dropdown">
                      Years <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" id="admin_main_product_list_years_ul">
                    </ul>
                  </div>                    
                </th>
                <th class="admin_main_product_list admin_main_product_list_col2">
                  <div class="btn-group" id="admin_main_product_list_types">
                    <button type="button" class="btn btn-default dropdown-toggle admin_main_product_combobox" data-toggle="dropdown">
                      Type <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" id="admin_main_product_list_types_ul">
                    </ul>
                  </div>
                </th>
                <th class="admin_main_product_list admin_main_product_list_col3">
                  <div class="btn-group" id="admin_main_product_list_brands">
                    <button type="button" class="btn btn-default dropdown-toggle admin_main_product_combobox" data-toggle="dropdown">
                      Brand <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" id="admin_main_product_list_brands_ul">
                    </ul>
                  </div>                
                </th>
                <th class="admin_main_product_list admin_main_product_list_col4"></th>
                <th class="admin_main_product_list admin_main_product_list_col5">Photo</th>
                <th class="admin_main_product_list admin_main_product_list_col6">Modify</th>
                <th class="admin_main_product_list admin_main_product_list_col6">Detail</th>
              </tr>
            </thead>
        </table>
        <ul class="pager">
          <li class="previous"><a href="#" id="admin_main_product_btn_previous">&larr; Previous</a></li>
          <li class="next"><a href="#" id="admin_main_product_btn_next">Next &rarr;</a></li>
        </ul>
      </div>
    </div>
    <div id="admin_main_product_dialog_div"></div>
  </div>
</div>
