<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading admin_main_product_panel-heading">
      <h4 class="panel-title">
        <div class="collapsed">Products List :
          <p class="btn btn-link btn-lg admin_main_align_right admin_main_product_btn" id="admin_main_product_new">New</p>
          <p class="btn btn-link btn-lg admin_main_align_right admin_main_product_btn disabled">Delete</p>
        </div>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
        <table class="table table-hover" id="admin_main_product_list">
          <thead>
              <tr>
                <th class="admin_main_product_list admin_main_product_list_col0">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox">
                    </label>
                  </div>
                </th>
                <th class="admin_main_product_list admin_main_product_list_col1">
                  <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle admin_main_product_combobox" data-toggle="dropdown">
                      Years <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">2010</a></li>
                      <li><a href="#">2011</a></li>
                      <li><a href="#">2012</a></li>
                      <li><a href="#">2013</a></li>
                      <li><a href="#">2014</a></li>
                      <li><a href="#">2015</a></li>
                    </ul>
                  </div>                    
                </th>
                <th class="admin_main_product_list admin_main_product_list_col2">
                  <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle admin_main_product_combobox" data-toggle="dropdown">
                      Type <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Road</a></li>
                      <li><a href="#">Mountain</a></li>
                    </ul>
                  </div>
                </th>
                <th class="admin_main_product_list admin_main_product_list_col3">
                  <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle admin_main_product_combobox" data-toggle="dropdown">
                      Brand <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Merida(美利达)</a></li>
                      <li><a href="#">Giant(捷安特)</a></li>
                    </ul>
                  </div>                
                </th>
                <th class="admin_main_product_list admin_main_product_list_col4"></th>
                <th class="admin_main_product_list admin_main_product_list_col5">Photo</th>
                <th class="admin_main_product_list admin_main_product_list_col6">Modify</th>
                <th class="admin_main_product_list admin_main_product_list_col6">Detail</th>
              </tr>
            </thead>  
          <tr class="admin_main_product_list_col">
            <td >
              <div class="checkbox">
                <label>
                  <input type="checkbox">
                </label>
              </div>
            </td>
            <td >2015</td>
            <td >Road(公路车)</td>
            <td >Merida(美利达)</td>
            <td >CF 905</td>
            <td class="admin_main_product_list_col_image"><span class="glyphicon glyphicon-picture"></span></td>
            <td ><span class="glyphicon glyphicon-wrench"></span></td>
            <td ><span class="glyphicon glyphicon-cog"></span></td>
          </tr>
          <tr class="admin_main_product_list_col">
            <td >
              <div class="checkbox">
                <label>
                  <input type="checkbox">
                </label>
              </div>
            </td>
            <td >2015</td>
            <td >zhedieche(折叠车)</td>
            <td >Cannondale(佳能戴尔)</td>
            <td >Supper Six EVO Hi-Mod Due Arce9000</td>
            <td class="admin_main_product_list_col_image"><span class="glyphicon glyphicon-picture"></span></td>
            <td ><span class="glyphicon glyphicon-wrench"></span></td>
            <td ><span class="glyphicon glyphicon-cog"></span></td>
          </tr>
        </table>
        <ul class="pagination admin_main_align_right">
          <li><a href="#">&laquo;</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">&raquo;</a></li>
        </ul>
      </div>
    </div>
    <div id="admin_main_product_dialog_div"></div>
  </div>
</div>
