<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Edit Years :
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
        <input class="form-control" id="admin_main_home_years_text" type="text" placeholder="No Years here now!~~" disabled>
        <span class="help-block admin_main_home_warn"><p class="glyphicon glyphicon-warning-sign"></p>&nbsp;&nbsp;Input year and split by &quot;&nbsp;,&nbsp;&quot;&nbsp;(ex:2014,2015)</span>
        <button type="button" id="admin_main_home_years_edit_btn" class="btn btn-default btn-lg admin_main_align_right admin_main_home_edit" disabled="disabled">Edit</button>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          Production Type :
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        <input class="form-control" id="admin_main_home_production_type_text" type="text" placeholder="No product type here now!~~" disabled>
        <span class="help-block admin_main_home_warn"><p class="glyphicon glyphicon-warning-sign"></p>&nbsp;&nbsp;Input product type and split by &quot;&nbsp;,&nbsp;&quot;&nbsp;(ex:Road(公路车),Mountain(山地车))</span>
        <button type="button" id="admin_main_home_production_type_edit_btn" class="btn btn-default btn-lg admin_main_align_right admin_main_home_edit" disabled="disabled">Edit</button>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          Edit Brand :
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        <input class="form-control" id="admin_main_home_brand_text" type="text" placeholder="No product type here now!~~" disabled>
        <span class="help-block admin_main_home_warn"><p class="glyphicon glyphicon-warning-sign"></p>&nbsp;&nbsp;Input brand and split by &quot;&nbsp;,&nbsp;&quot;&nbsp;(ex:Giant(捷安特),Merida(美利达))</span>
        <button type="button" id="admin_main_home_brand_edit_btn" class="btn btn-default btn-lg admin_main_align_right admin_main_home_edit" disabled="disabled">Edit</button>
      </div>
    </div>
  </div>
</div>
